<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FurEver Home</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <img src="/images/homePage/IMG_8952.png">

    <h1>Welcome to your <span>Fur</span>ever Home!</h1>
  

    <nav>
      <div class="nav_btns"></div>
        <a href="/">Home</a>
        <a href="/">Select A Location</a>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </div>

    </nav>
  </header>

  <main>
    <aside>
      <h2>Find Your <span>Pur</span>fect Companion!</h2>
      <p>Select a location to explore our wide selection of adorable pets available for adoption.
        Or if you are new, please sign-up to take full advantage of what our website has to offer.
      </p>
      <br>
      <h2>Our Locations:</h2>
      <p>123 Pet Drive, Southern Pines, NC 28387</p>
      <p>910-555-1234</p>
      <br>
      <p>234 Puppy Lane, Fayetteville, NC 28305</p>
      <p>910-555-0987</p>
      <br>
      <p>345 Kitty Way, Raleigh, NC 27513</p>
      <p>919-555-4567</p>
      <br>
      <p>fureverhome@gmail.com</p>
    </aside>

    <div class="location">
      {{{body}}}
    </div>

    <section class="adoptions">
      <h2>Recent <span>Fur</span>ever Home Adoptions!</h2>
    <div class="slider-wrapper">
        <div class="slider">
          <img id="slide-1" src="/images/homePage/Minnie.jpg" alt="">
          <img id="slide-2" src="/images/homePage/Queenie.jpg" alt="Waffles">
          <img id="slide-3" src="/images/homePage/Mochi.jpg" alt="">
          <img id="slide-3" src="/images/homePage/Simon.jpg" alt="">
          <img id="slide-3" src="/images/homePage/Tucker.jpg" alt="">
        </div>
    </div>
    </section>

    </div>
  </main>

 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
 {{/if}}

  <footer>
    <p>&copy; 2023 FurEver Home Pet Adoption. All rights reserved.</p>
  </footer>

</body>
</html>