<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FurEver Home</title>
  
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <img src="https://images.squarespace-cdn.com/content/v1/59db6c41b1ffb6b1039ea221/1564515706103-AP1VGSQ85SIJ99GKTN1B/Logo6.jpg?format=1500w">

    <h1>Welcome to your <span>Fur</span>ever Home!</h1>
  

    <nav>
      <div class="nav_btns"></div>
        <a href="/">Home</a>
        <a href="/">Select A Location</a>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </div>

    </nav>
  </header>

  <main>
    <section class="hero">
      <h2>Find Your <span>Pur</span>fect Companion!</h2>
      <p>Select a location to explore our wide selection of adorable pets available for adoption.
        Or if you are new, please sign-up to take full advantage of what our website has to offer.
      </p>
    </section>

    <div class="location">
      {{{body}}}
    </div>

    <section class="adoptions">
      <h2>Recent <span>Fur</span>ever Homes</h2>
    <div class="slider-wrapper">
        <div class="slider">
          <img id="slide-1" src="https://i.pinimg.com/originals/7a/6d/62/7a6d62182b7ef057e7287e207b0a5901.jpg" alt="Fluffy">
          <div class="slide-1">
         <div class="slider">
          <img id="slide-2" src="https://m.apnlive.com/sortd-service/imaginary/v22-01/jpg/large/high?url=YXBuLW5ld3MtcHJvZC1zb3J0ZC9tZWRpYTA2ZjMzYzEwLTE2ZTEtMTFlZC1hMWQ3LTliN2M3NzUwNGI2YWpwZw==" alt="Waffles">
          <div class="slide-2">
          </div>
          
          <img id="slide-3" src="https://media.alwayspets.com/e6/14/e614c47d95c440d399c2c1bc26458b38.jpeg" alt="Olly">
          
        </div>
      </div>
    </section>

    </div>
  </main>

 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
 {{/if}}

  <footer>
    <p>&copy; 2023 FurEver Home Pet Adoption. All rights reserved.</p>
  </footer>

</body>
</html>