<div class="user-profile">
      <h2>Welcome, {{user.username}}!</h2>
      <div class="profile-info">
        <p class="username"><strong>Name:</strong> {{user.name}}</p>
        <p class="email"><strong>Email:</strong> {{user.email}}</p>
        <p class="password"><strong>Password:</strong> {{user.password}}</p>
      </div>
</div>
  